body {
    background-color: powderblue;
    font-family: Helvetica;
    margin-left: 12%;
    margin-right: 12%;
}

a {
    color: black;
    text-decoration: none;
}

.sitebody {
    font-size: 24px;
    padding: 10px 50px 20px 50px;
    margin: 10px 0 10px 0;
    background-color: aliceblue;
    border-radius: 10px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: skyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.header li a:hover {
  background-color: skyblue;
  color:white;
  transition: ease background-color 400ms, color 400ms;
}

.footer {
    font-size: 12px;
    text-align: center;
    color:gray;
    background-color: azure;
    padding: 10px;
}

.welcome {
    font-size: 48px;
    text-align: center;
    color: skyblue;
}

.welcome b {
    color: steelblue;
}

input[type=text] {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

input[type=password] {
    padding: 12px 20px;
    margin: 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

input[type=number] {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

input[type=date] {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

input[type=time] {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

textarea {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

select option {
    padding: 12px 20px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    width: 50%;
}

label {
    font-size: 16px;
}

.button {
    background-color: mediumturquoise;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border-radius: 12px;
    border: 3px solid mediumturquoise;
    transition: ease background-color 200ms, color 200ms;
}

.button:hover {
    background-color: white;
    color: mediumturquoise;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    transition: ease background-color 200ms, color 200ms;
}

.sysmsg {
    color: red;
    font-style: italic;
    font-size: 16px;
}

.createdmsg {
    color: steelblue;
    font-weight: bold;
    margin: 5px;
}

.create a:link, a:visited {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    transition: ease background-color 200ms, color 200ms;
    margin: 10px;
    width: auto;
}

.create a:hover, a:active {
    background-color: white;
    color: cornflowerblue;
  }

.event {
    width: 60%;
    border-left: 3px solid rebeccapurple;
    margin: 0 10px;
    padding: 0 20px;
    text-decoration: none;
}

.event a {
    color: black;
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.rsoentry {
    width: 60%;
    border-left: 3px solid darkturquoise;
    margin: 0 10px;
    padding: 0 20px;
    text-decoration: none;
}

.rsoentry a {
    color: black;
    text-decoration: none;
}

.rsoentry a:hover {
    text-decoration: underline;
}

.comment {
    width: 60%;
    border-left: 3px solid midnightblue;
    margin: 0 10px;
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

.comment i {
    color: gray;
}

.comment a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

.comment a:hover {
    text-decoration: underline;
}